@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'SFProDisplay';
    color: black;
    font-style: normal;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header */
header{
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #161616;
}

.header_wrapper{
    display: flex;
    align-items: center;
    padding: 12px 0;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.header_con1{
    display: flex;
    align-items: center;
    padding-right: 84px;
}
.header_t1{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
}
.header_t1:hover{
    color: orange;
}
.header_con1 li{
    padding-right: 21px;
    list-style: none;
}
.header_con1 li:last-child{
    padding-right: 0;
}
.header_t2{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    padding-right: 200px;
}
.header_t2:hover{
    color: orange;
}
.header_con2{
    display: flex;
    align-items: center;
    padding-right: 78px;
    list-style: none;
}
.header_l{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
}
.header_con2 li{
    padding-right: 7px;
}
.header_con2 li:last-child{
    padding-right: 0;
}
.header_l:hover{
    color: #161616;
}
.header_t3{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header_t3:hover{
    color: orange;
}
.header_t3::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/iconH.svg) no-repeat repeat center / cover;
    margin-right: 10px;
}
.header_t4{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    display: flex;
    align-items: center;
}
.header_t4:hover{
    color: orange;
}
.header_t4::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/iconH1.svg) no-repeat repeat center / cover;
    margin-right: 7px;
}
.header_con3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_con4{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 17px 24px;
    margin-bottom: -80px;
    visibility: hidden;
}
.header_con4 img{
    margin-right: 17px;
}
.header_con4 img:last-child{
    margin-right: 0;
}
.header_con3:hover>.header_con4{
    visibility: visible;
}
/* section1 */
.section1_wrapper{
    padding: 144px 0 112px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1_wrapper img{
    margin-left: 430px;
}
.section1_con1{
    display: flex;
    padding-bottom: 112px;
}
.section1_con2{
    padding-right: 86px;
}
.section1_st{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
    padding-bottom: 3px;    
}
.section1_t{
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #161616;  
}
.section1_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    width: 382px;
}
.section1_text1{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    padding-top: 182px;
    width: 398px;
    margin-left: 600px;
}

/* Section2 */
.section2{

}
.section2_wrapper{
    margin-left: 200px;
}
.sec2_text1{
    font-size: 48px;
    font-weight: 500;
}
.container_sec2_text{
    display: flex;
}
.arrow{
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
}
.sec2_text2 p{
    font-size: 18px;
    font-weight: 500;
    width: 225.5px;
    margin-left: 30px;
    margin-right: 83px;
}
.sec2_text3 p{
    font-size: 18px;
    font-weight: 500;
    width: 283.36px;
    margin-left: 30px;
}
.sec2_text2{
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.sec2_text3{
    display: flex;
    align-items: center;
    padding-top: 70px;
}

/* Section3 */
.section3{
    padding-top: 150px;
}
.section3_wrapper{
    margin-left: 610px;
}
.cont_sec3_text{
    width: 400.64px;
}
.sec3_text1{
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
}
.sec3_text2{
    padding: 40px 0 40px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.sec3_text3{
    font-weight: 600;
    font-size: 14px;
    border: 1px solid black;
    padding: 21.5px 137.25px 21.5px 137.25px;
    text-align: center;  
    color: black;  
}
/* Section4 */
.section4{
    margin-top: 143px;
}
.section4_wrapper{
    margin-left: 200px;
}
.sec4_text1{
    font-size: 64px;
    font-weight: 500;
}
.sec4_text2{
    display: flex;
    padding-top: 70px;
    font-weight: 500;
    font-size: 14px;
}
.model_home{
    color: black;
    margin-right: 30px;
}
.model_home a{
    text-decoration: none;
}
.sec4_button1{
    padding-top: 70px;
}
.sec4_tex3{
    width: 400px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid black;
    padding: 21.5px 136px 21.5px 136px;
}
/* Section5 */
.section5{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-top: 150px;
    width: 998.72px;
    margin-left: 350px;
}
.model_home_15_text1{
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 40px;
}
.img_model_home_15_1{
    padding-bottom: 150px;
}
.img_model_home_15_2{
    padding-bottom: 20px;
}
.img_model_home_15_3{
    padding-bottom: 150px;
}
.sec5_cont_imgs{
    flex-direction: column;
}
.cont_left-right{
    display: flex;
}
.sec5_ul_li{
    padding-top: 100px;
    margin-left: 20px;
}
.sec5_ul_li li{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
.sec5_button1{
    padding-top: 45px;
}
.sec5_text3{
    height: 60px;
    width: 400px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center; 
    color: black;  
}
.img_model_home_15_4{
    height: 700px;
    width: 700px;
}
.sec5_text4{
    height: 84px;
    width: 376px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 200px;
    padding-top: 140px;
    padding-bottom: 170px;
}
.sec5_cont_imgs1{
    flex-direction: column;
    justify-content: center;
}
.img_model_home_15_6{
    padding-bottom: 20px;
    margin-left: 200px;
}
.img_model_home_15_7{
    margin-left: 200px;
}
/* Section6 */
.sec6_arrows{
    padding: 70px 0 0 570px;
}
.sec6_arrows_border{
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    margin-right: 80px;
}
.sec6_cont_text{
    margin-left: 570px;
}
.sec6_text1{
    margin-top: 150px;
    width: 600px;
    height: 171px;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
}
.sec6_text2{
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
    width: 400px;
    line-height: 21px;
    height: 42px;
}
.sec6_imgs_cont{
    display: flex;
    width: 312px;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 500px;
    height: 50px;
}
/* Footer */
footer{
    background-color: #161616;
}
.sec7_wrapper{
    display: flex;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.logo_footer{
    margin-top: 65px;
}
.sec7_text1{
    width: 400px;
    height: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    margin-left: 55px;
}
.sec7_line_cont{
    display: flex;
}
.line{
    width: 32px;
    height: 1px;
    background-color: #FFFFFF;
    margin-right: 17px;
    margin-top: 8px;
}
.sec7_text2{
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_text3{
    margin-top: 17px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_text4{
    margin-top: 17px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 60px;
}
.sec7_text5{
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_text6{
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_text7{
    margin-top: 17px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_text8{
    margin-top: 17px;
    font-weight: 400;
    font-size: 14px;
}
.sec7_line_cont{
    margin-top: 70px;
}
.sec7_text_line_cont{
    font-weight: 400;
    font-size: 14px;
}
.sec7_cont2{
    margin-right: 100px;
}
.sec7_footer-bottom_text_cont{
    display: flex;
    color: #FFFFFF;
    margin-top: 17px;
}
.sec7_footer-bottom_text1{
    margin-right: 250px;
}
.sec7_footer-bottom_text2{
    margin-right: 40px
}
.sec7_footer-bottom_text2:hover{
    color: orange;
}
.sec6_imgs:hover{
    height: 50px;
    width: 50px;
}
.sec6_arrows_border:hover{
    border: 1px solid orange;
}
.model_home:hover{
    color: orange;
}
.sec4_tex3:hover{
    color: orange;
}
.sec5_text3:hover{
    color: orange;
}
.sec3_text3:hover{
    color: orange;
}
.sec7_footer-bottom_text_cont{
    padding-bottom: 30px;
}